{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h2>{{ 'profile.show.username'|trans }}: {{ user.username }}</h2>
    <h2>{{ 'profile.show.email'|trans }}: {{ user.email }}</h2>
    <h2> Nom: {{ user.nom }}</h2>
    <h2> Prenom: {{ user.prenom }}</h2>
    <h2> Adresse: {{ user.adresse }}</h2>
    <h2> Loisirs : {{ user.categorie }}</h2>
<br>
    <br>
    <a href="{{ path('fos_user_profile_edit') }}" class=" btn btn-primary">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier
    </a>
</div>
