{% trans_default_domain 'FOSUserBundle' %}

<h3 class="title">Création <span>Compte</span></h3>
<br>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


<h2> <label for="email">Nom:</label></h2>
{{ form_widget(form.nom, {'attr': {'class': 'form-control'}})  }} <br>
<h2> <label for="email">Prenom:</label></h2>
{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}})  }} <br>
<h2> <label for="email">Adresse:</label></h2>
{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}})  }} <br>
<h2> <label for="email">Adresse Mail:</label></h2>
{{ form_widget(form.email, {'attr': {'class': 'form-control'}})  }} <br>

<h2> <label for="email">Username:</label></h2>
{{ form_widget(form.username, {'attr': {'class': 'form-control'}})  }} <br>
<h2> <label for="email">Password:</label></h2>

{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}})  }} <br>
<h2> <label for="email">Confirm Password:</label></h2>

{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}})  }} <br>
<br>
<h2> <label for="email">Loisirs:</label></h2> <br>
{{ form_widget(form.categorie)  }}
<br>
<br>
        <input type="submit" value="{{ 'registration.submit'|trans }}  " class="btn btn-primary"  />


{{ form_end(form) }}
